.hero {
  background-image: url("../../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-content {
  text-align: center;
}

.hero-button-container {
  display: flex;
  justify-content: center;
}

.hero-button-container button {
  margin-right: 16px; /* Adjust the margin value as needed */
}

/* Optional: Remove margin from last button to prevent extra space */
.hero-button-container button:last-child {
  margin-right: 0;
}

.features {
  background-color: #fff;
  padding: 50px 0;
}

.features h2 {
  text-align: center;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.feature mat-icon {
  margin-right: 10px;
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-image {
  width: 50%; /* Adjust as needed */
  height: auto;
}

p {
  margin-top: 8px; /* Add spacing between image and text */
}

.about {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.about h2 {
  text-align: center;
}

.testimonials {
  background-color: #fff;
  padding: 50px 0;
}

.testimonial {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 20px;
}
