<div class="signup-wrapper">
    <div class="signup-wrapper-before"></div>
    <div class="signup-header"></div>
    <div class="signup-window">
        <mat-card class="signup-card">
            <mat-card-header>
              <mat-card-title>Sign Up</mat-card-title>
            </mat-card-header>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput type="text" name="username" formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="password" formControlName="password">
            </mat-form-field>
            
            <div *ngIf="signupForm.get('password')?.errors" class="error">
                Password must contain at least:
                <ul>
                    <li [style]="noOfCharsStyle">6 characters</li>
                    <li [style]="capitalLetterStyle">one capital letter</li>
                    <li [style]="numberStyle">one number</li>
                    <li [style]="specialCharacterStyle">one special character. Any one of # @ $ ! % * ? & -</li>
                </ul> 
            </div>
              
            <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
            
            <span>
                Already a member? <a routerLink="/login" class="login-link">Login</a>
            </span>
        </form>
        </mat-card>
    </div>
</div>